.header {
  width: 100%;
  min-width: 800px;
  max-width: 1200px;
  height: 10px;
  padding-bottom: 2.1em;
  background-color: white;
}
.content {
  display: flex;
  padding: 0 20px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
}
